<!DOCTYPE html>
<html
  prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile#"
  lang="en-gb">

<head>
  <meta charset="UTF-8">
  <title>{{ title }} &middot; The Number Ninja</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Twitter card tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@emmatnn" />
  <meta name="twitter:creator" content="@emmatnn" />

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,300italic,400italic,600italic&display=swap&subset=latin"
        rel="stylesheet" type="text/css">

  <link rel="alternate" type="application/atom+xml" href="/blog/feed.xml" title="The Number Ninja" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1a9785">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="/@root/src/assets/css/main.min.css">
  <link rel="stylesheet" href="/@root/src/assets/css/custom.css">
</head>
<body id="{{ page.url | slug }}" class="{{ page.fileSlug }} {{ page.url | slug }}">
<div class="layout">
  <div class="layout--header">
    {% include 'partials/topnavigation.njk' %}
  </div>

{{ content | safe }}
</div>
{% include 'partials/footer.njk' %}

<script src="/assets/libs/slideout.min.js" type='module'></script>
<script src="/@root/src/assets/scripts/app.js" type='module'></script>

{# These are proxied. See _redirects #}
<script async src="/sgc/101401749.js"></script>
<noscript><p><img alt="" width="1" height="1" src="/igc/101401749ns.gif" /></p></noscript>
</body>

</html>
