<div>
  <ul class="contact_us--contacts">
    <li class="contact_us--contacts_item">
      <div class="contact_item">
        <i class="contact_item--icon fa-solid fa-triangle-exclamation"></i>
        <p class="contact_item--text">
          We are legally required to perform anti-money laundering checks on our clients. By booking a power hour you
          agree to us carrying out this search. Your booking confirmation email will include a link to a form so that
          you can securely provide the information we need. Two forms of ID are required, one photographic and one
          showing your address. Non-ID information can be redacted, such as bank statement transactions.
        </p>
      </div>
    </li>
  </ul>
</div>
