<div class="col-md-3 col-md-offset-0 col-xs-10 col-xs-offset-1">
  <div class="our_company--quote">
    <div class="row">
      <figure class="our_company--quote_media" style="padding-bottom: 2em">
        <img src="/assets/images/headshots/emma.jpg" alt="Headshot of Emma James, The Number Ninja">
      </figure>
      <blockquote class="our_company--quote_text">
        <p>I'm Emma and I set up The Number Ninja six years ago to help people just like you to take control of their
          business's finances. I work with female founders throughout the UK, with a focus on online service-based
          businesses. As well as providing done-for-you services (because I do love a good tax return), I support
          business owners just like you to better manage their finances and to put in place systems to help them to do
          so. I know that you have the ability to take control of your accounts, you just need a few pointers to help
          you on the way.</p>
      </blockquote>
      <div class="our_company--quote_author">
        <strong>Emma James</strong>
        <span>The Number Ninja</span></div>
    </div>
  </div>
</div>
