---
permalink: /blog/feed.xml
eleventyExcludeFromCollections: true
metadata:
  title: The Number Ninja
  url: https://thenumber.ninja/
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
  <title>{{ metadata.title }}</title>
  <link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self" />
  <link href="{{ metadata.url }}" />
  <updated>{{ posts | getMostRecentUpdatedDate }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>The Number Ninja</name>
  </author>
  {%- for post in posts | sort(attribute='date', reverse=true) | sample(10)  %}
    {%- set relativePath = '/blog/' + post.slug + '/' %}
    {%- set absolutePostUrl = relativePath | absoluteUrl(metadata.url) %}
    <entry>
      <title>{{ post.title }}</title>
      <link href="{{ absolutePostUrl }}" />
      <published>{{ post.date }}T00:00:00Z</published>
      <updated>{{ post._updatedAt }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content xml:lang="en" type="html">
        {{ '<p><img src="' + post.image.urls.page1x + '" alt="' + post.image.alt | default('') + '" /></p>' }}
        {{ post.summary | safe | htmlToAbsoluteUrls(absolutePostUrl) }}
        {{ '<p><a href="' + absolutePostUrl + '">Read the rest of ' + post.title + '</a>' }}
      </content>
    </entry>
  {%- endfor %}
</feed>
