---
layout: base-page.njk
permalink: /blog/{{ post.slug }}/
pagination:
  data: posts
  size: 1
  alias: post
  addAllPagesToCollections: true
eleventyComputed:
  title: "{{ post.title }}"
  eleventyNavigation:
    key: "{{ post.title }}"
    parent: Blog
---
<div class="row">
  <div class="col-md-9 col-xs-12">
    <div class="article">
      {{ post.title }}
      <div class="article--content">
        {{ post.summary | safe }}
        <figure>
          <img src="{{ post.image.urls.page1x }}" alt="{{ post.image.alt | default('') }}"
               srcset="{{ post.image.urls.page2x }} 2x" />
        </figure>
        {{ post.content | safe }}
      </div>
    </div>
  </div>
  <div class="col-md-3 col-xs-12">
    <div class="blog_sidebar">
      <div class="widget">
        <ul>
          <li><i class="fa fa-calendar"></i> {{ post.date | longDate }}</li>
          <li><i class="fa fa-female"></i> <a href="/about/">Emma James</a></li>
          <li><i class="fa fa-newspaper-o"></i> {{ post.content | readingTime }} minute read</li>
        </ul>
      </div>
{#      <div class="widget">#}
{#        <h2 class="widget--title">Categories</h2>#}
{#        <ul>#}
{#          {% for category in post.categories %}#}
{#          <li>#}
{#            <a href="/blog/categories/{{ category | slug }}/" rel="category" title="Read more blog posts about {{ category | lower }}">{{ category }}</a>#}
{#          </li>#}
{#          {% endfor %}#}
{#        </ul>#}
{#      </div>#}
      <div class="widget blog-side-list">
        <h2 class="widget--title">Related blogs</h2>
{#        FIXME: Related blogs #}
        <ul>
{#          {{ range . }}#}
          <li>
{#            <a href="{{ .RelPermalink }}">{{ .Title | title }}</a>#}
{#            <span class="date">{{ .Date.Format "2 January 2006" }}</span>#}
          </li>
{#          {{ end }}#}
        </ul>
      </div>
{#      {{ end }}#}
      <div class="widget blog-side-list">
        <h2 class="widget--title">Latest blogs</h2>
        <ul>
          {% for latestPost in posts.slice(0, 5) %}
            <li>
              <a href="/blog/{{ latestPost.slug }}/">{{ latestPost.title }}</a>
              <span class="date">{{ latestPost.date | longDate }}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
