---
layout: page-full-width.njk
title: Book a call
description: For new and existing clients, book a call to get to grips with your accounts
permalink: /book-a-call/
eleventyNavigation:
  Parent: Home
  key: Book a call
  order: -1
---
<div class="services">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-sm-offset-0 col-xs-11 col-xs-offset-1">
      <div class="service_item -horizontal">
        <i class="service_item--icon fa-solid fa-circle-question"></i>
        <h3 class="service_item--title"><a href="/book-a-call/introductory-call/">Interested in working together</a></h3>
        <div class="service_item--text">
          <p>For those who are interested in us working together. An opportunity for us to discuss your business and the
            help you're looking for, as well as a chance to learn whether we'd be a good fit to work together.</p>
          <p style="margin: 1em 0 0 0;"><a href="/book-a-call/introductory-call/" class="button -bordered -menu_size"><span class="button--inner"><i class="fa-solid fa-circle-arrow-right"></i> Book an intro call</span></a></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-sm-offset-0 col-xs-11 col-xs-offset-1">
      <div class="service_item -horizontal">
        <i class="service_item--icon fa-solid fa-phone"></i>
        <h3 class="service_item--title"><a href="/book-a-call/catch-up-call/">Current clients</a></h3>
        <div class="service_item--text">
          <p>For existing clients who have a call package. We can discuss any issues you're facing, how the business is doing,
            plans for the future...anything you like! If you don't currently have a call package but would like to speak, drop me an email.</p>
          <p style="margin: 1em 0 0 0;"><a href="/book-a-call/catch-up-call/" class="button -bordered -menu_size"><span class="button--inner"><i class="fa-solid fa-circle-arrow-right"></i> Let's talk</span></a></p>
        </div>
      </div>
    </div>
  </div>
</div>
