---
layout: page-full-width.njk
permalink: "/dashboard/{{ client.clientId }}/"
pagination:
  data: clients
  size: 1
  alias: client
  addAllPagesToCollections: true
title: Your client dashboard
excludeFromSitemap: true
---

<style>
  .services {
    margin: 0.8em auto 1em 1em;
  }

  .our_company--text li {
    line-height: 1.5em;
    list-style-type: circle;
    color: #4B4B4B;
  }

  .helpsheets li {
    list-style-type: none;
    margin-bottom: 0.3em;
  }

  .helpsheets button {
    width: 100%;
  }

  .swal2-html-container p {
    text-align: left;
    margin-bottom: 0.5em;
  }

  button small {
    font-size: 90%;
  }
</style>

{% set subscription = client.subscription %}
{% set products = subscription.products %}
{% if subscription and products | length > 0 %}
  <div class="row">
    <div class="col-md-6">
      <div class="case_study--section">
        <h2 class="case_study--section_title">Your subscription details</h2>
        <h3 class="contact_item--title">Services</h3>
        <ul class="services">
          {% for product in products | sort(attribute='name') %}
            {% set suffix = '' %}
            {% if product.quantity > 1 %}
              {% set suffix = product.quantity %}
              {% if product._type === 'accountsProduct' %}
                {% set suffix = suffix + ' sections' %}
              {% endif %}
            {% endif %}
            <li>{{ product.name }}{% if suffix | length > 0 %} ({{ suffix }}){% endif %}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="case_study--section our_company--text">
        {% if subscription.type == 'stripe' %}
          <button class="button -menu_size -waikawa_gray -bordered"
                  id="start-subscription"
                  role="link"
                  style="margin-top: 1em; display: none"
          >
              <span class="button--inner">
                Start subscription
              </span>
          </button>

          <button class="button -menu_size -waikawa_gray -bordered"
                  id="update-payment-card"
                  role="link"
                  style="margin-top: 1em; display: none"
          >
              <span class="button--inner">
                Update payment method
              </span>
          </button>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}

  {% set documents = client.documents %}
  {% if documents | length > 0 %}
    <div class="row">
      <div class="col-md-6">
        <div class="case_study--section">
          <h2 class="case_study--section_title">Helpsheets</h2>
          <p>These helpsheets provide important information and dates for your business.</p>
          <ul class="helpsheets">
            {% for document in documents %}
              <li>
                <button class="button -waikawa_gray -bordered download-document"
                        data-document-key="{{ document.key }}"
                        data-masked-email='{{ client.maskedEmail }}'
                >
                  <i class="fa-solid fa-file-arrow-down"></i>
                  Download {{ document.type }}<br/>
                  <small>Last updated {{ document.lastUpdated | longDate }}</small>
                </button>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.7/dist/sweetalert2.all.min.js"></script>

<template id="success">
  <swal-icon type="success"></swal-icon>
  <swal-title>Your subscription has been successfully started</swal-title>
  <swal-html>
    <p>If you need to change your payment method at any time, just revisit this page.</p>
  </swal-html>
</template>

<template id="cancelled">
  <swal-icon type="info"></swal-icon>
  <swal-title>Your subscription has not been started</swal-title>
  <swal-html>
    <p>Don't worry, you can revisit this page at any time to start it.</p>
  </swal-html>
</template>

<template id="update-payment-card-success">
  <swal-icon type="success"></swal-icon>
  <swal-title>Your payment method has been changed</swal-title>
  <swal-html>
    <p>We'll use the new details when the next payment is due.</p>
  </swal-html>
</template>

<template id="update-payment-card-cancel">
  <swal-icon type="info"></swal-icon>
  <swal-title>Your payment method has not been changed</swal-title>
  <swal-html>
    <p>The existing payment details will continue to be used when the next payment is due.</p>
  </swal-html>
</template>

<template id="loe-signed-renewal">
  <swal-icon type="success"></swal-icon>
  <swal-title>Thank you for continuing with us</swal-title>
  <swal-html>
    <p>We're really happy that you're staying with us for another year.</p>
    <p>Your subscription will automatically be updated based on the services you have chosen.</p>
  </swal-html>
</template>

<template id="loe-signed-changed-services">
  <swal-icon type="success"></swal-icon>
  <swal-title>Thank you for confirming the changes</swal-title>
  <swal-html>
    <p>The changes to the services we provide will take effect from the agreed date, and your subscription will be updated to reflect the new price.</p>
  </swal-html>
</template>

<template id="document-confirm-email">
  <swal-icon type="question"></swal-icon>
  <swal-title>We just need to check it's you</swal-title>
</template>

<script>
  window.dashboardConfig = {
    customerId: '{{ subscription.customerId }}',
    subscriptionId: '{{ subscription.subscriptionId }}',
    clientId: '{{ client.clientId }}'
  };
</script>
<script type="module" src="/assets/dashboard.js"></script>
