---
layout: base.njk
title: Bookkeeping and accountancy for growing service-based businesses
description: Bookkeeping and accountancy services for growing service-based businesses.
permalink: /
eleventyNavigation:
  key: Home
  order: 1
---
  <div class="layout--container">
    <section class="promo_slider">
      <div class="promo_slider--slides js-promo_slider">
        <div class="promo_slider--slide">
          <div class="slide_simple" style="background-image: url(/assets/images/carousel/about_me.jpg)">
            <div class="slide_simple--container">
              <div class="container">
                <div class="col-sm-10 col-sm-offset-1">
                  <h1 class="slide_simple--title">Who is The Number Ninja?</h1>
                  <p class="slide_simple--text">
                    Experienced and qualified bookkeeper, member of the International Association of Bookkeepers, and lover of jellybabies.
                  </p>
                  <div class="slide_simple--buttons">
                    <a href="/about/" class="button -white -arrowed -large"><span class="button--inner">Find out more about me</span></a>
                    <a href="/get-in-touch/" class="button -white -arrowed -large"><span class="button--inner">Get in touch</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="promo_slider--slide">
          <div class="slide_simple" style="background-image: url(/assets/images/carousel/way_of_working.jpg)">
            <div class="slide_simple--container">
              <div class="container">
                <div class="col-sm-10 col-sm-offset-1">
                  <h1 class="slide_simple--title">The Ninja way of working</h1>
                  <p class="slide_simple--text">
                    Working remotely I use a selection of cloud-based software, such as Xero and Dext, so that I can be connected to your business wherever you're based.
                  </p>
                  <div class="slide_simple--buttons">
                    <a href="/services/" class="button -white -arrowed -large"><span class="button--inner">Discover the services I offer</span></a>
                    <a href="/how-we-work-together/" class="button -white -arrowed -large"><span class="button--inner">Learn more about we'll work together</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="promo_slider--slide">
          <div class="slide_simple" style="background-image: url(/assets/images/carousel/glossary.jpg)">
            <div class="slide_simple--container">
              <div class="container">
                <div class="col-sm-10 col-sm-offset-1">
                  <h1 class="slide_simple--title">A-Z of Accounting Lingo</h1>
                  <p class="slide_simple--text">
                    Do you know your assets from your elbow? If you find the language of accounts confusing, check out this glossary of common terms and be baffled no more.
                  </p>
                  <div class="slide_simple--buttons">
                    <a href="/glossary/" class="button -white -arrowed -large"><span class="button--inner">Glossary of accounting terms</span></a>
                    <a href="/get-in-touch/" class="button -white -arrowed -large"><span class="button--inner">Get in touch</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="promo_slider--slide">
          <div class="slide_simple" style="background-image: url(/assets/images/carousel/benefits.jpg)">
            <div class="slide_simple--container">
              <div class="container">
                <div class="col-sm-10 col-sm-offset-1">
                  <h1 class="slide_simple--title">Why You Should Outsource Your Bookkeeping</h1>
                  <p class="slide_simple--text">
                    Access expertise as and when you need it, and free up your time whilst retaining access to up-to-date financial information.
                  </p>
                  <div class="slide_simple--buttons">
                    <a href="/services/" class="button -white -arrowed -large"><span class="button--inner">Discover the services I offer</span></a>
                    <a href="/why-outsource/" class="button -white -arrowed -large"><span class="button--inner">Learn more about the benefits</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="promo_slider_nav">
        <div class="container">
          <div class="js-promo_slider_nav">
            <div class="promo_slider_nav--slide">
              <div class="promo_slider_nav--item">
                <i class="promo_slider_nav--item_icon fa fa-female"></i>
                <strong class="promo_slider_nav--item_title">Who I Am</strong>
                <p class="promo_slider_nav--item_description">The woman behind the ninja mask</p>
              </div>
            </div>
            <div class="promo_slider_nav--slide">
              <div class="promo_slider_nav--item">
                <i class="promo_slider_nav--item_icon fa fa-cloud"></i>
                <strong class="promo_slider_nav--item_title">How I Work</strong>
                <p class="promo_slider_nav--item_description">On-site quality of care and service, delivered remotely</p>
              </div>
            </div>
            <div class="promo_slider_nav--slide">
              <div class="promo_slider_nav--item">
                <i class="promo_slider_nav--item_icon fa fa-book"></i>
                <strong class="promo_slider_nav--item_title">Glossary</strong>
                <p class="promo_slider_nav--item_description">Demystifying the language of accounting</p>
              </div>
            </div>
            <div class="promo_slider_nav--slide">
              <div class="promo_slider_nav--item">
                <i class="promo_slider_nav--item_icon fa fa-thumbs-o-up"></i>
                <strong class="promo_slider_nav--item_title">Benefits of Outsourcing</strong>
                <p class="promo_slider_nav--item_description">Tap into expertise and free up your time</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>


  <section class="section">
    <div class="container">
      <div class="section--container">
        <div class="our_company">
          <div class="row">
            <div class="col-md-12">
              <div class="our_company--text">
                <p>
                  Whether you're looking for someone to manage your business finances, or just a helping hand to make sure you're
                  on the right track, The Number Ninja can help. I'm a lover of technology and use a number of
                  systems to help me provide a great service remotely, from the lovely cathedral city of Ely in Cambridgeshire,
                  whilst remaining fully connected to you and your business. You'll also have access to my client dashboard where, amongst other things,
                  you can see important dates for your business, such as when your VAT return is due.
                </p>
                <p>
                  As well as providing current information on the performance of your business, up-to-date and accurate bookkeeping
                  can greatly reduce the amount of time required to prepare things like your self assessment return. For limited companies, I can also prepare your annual accounts for submission to HMRC and Companies House.
                </p>
                <p>
                  When you’re running a business, the finance side of things is often the one area that falls down the list of
                  priorities as dealing with your accounts can be scary, even when things are going well! A good way of ensuring
                  that you always have current financial knowledge, without taking your time away from what you do best, is to outsource
                  your bookkeeping and accounts.
                </p>
                <p>
                  It can be scary working with an accountant, I know that. You don't know what hard questions we're going to ask, and a quick look at the HMRC website is enough to tell you that we speak a whole different language.
                  Check out <a href="/how-we-work-together/">how we work together</a> to see the details of how I work, and then <a href="/services/">services</a> for the nitty gritty of how I can help you and your business.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
