---
layout: page-full-width.njk
title: How We Work Together
permalink: /how-we-work-together/
eleventyNavigation:
  key: How We Work Together
  order: 5
---

<p>Whether you're completely new to working with a bookkeeper or accountant, or moving over from another,
  you'll have questions about how it works. To make things as easy as possible for you, I have a simple 3-step process
  that we'll follow when we work together.</p>

<div class="services">
  <div class="row">
    <div class="col-md-12 col-sm-4 col-sm-offset-0 col-xs-11 col-xs-offset-1">
      <div class="service_item -horizontal">
        <i class="service_item--icon fa-solid fa-file-invoice"></i>
        <h3 class="service_item--title">1. Receipts and Invoices</h3>
        <div class="service_item--text">You'll have access to <a href="https://dext.com/uk/products/prepare/">Dext
            Prepare</a>, use this to record everything you
          buy. Simply take a picture of your receipts using the app, or forward those you receive by email to your
          dedicated email address, and I'll take care of the rest. It even links with Dropbox, if
          you're already storing your receipts there. No more crumpled receipts at the bottom of your bag!
        </div>
      </div>
      <div class="service_item -horizontal">
        <i class="service_item--icon fa-solid fa-laptop-file"></i>
        <h3 class="service_item--title">2. Day to Day</h3>
        <div class="service_item--text">I work exclusively with <a href="https://www.xero.com/uk/">Xero</a> as I think
          it's the best software for growing businesses. We'll use it
          to keep track of things throughout the year. Those receipts you uploaded to Dext? They'll appear in Xero, and
          any invoices
          you send to clients will be created in Xero too. You'll also link your bank accounts, so we'll both have a full
          view of the money coming in and going out of your business.
          Think of Xero as a one-stop-shop for your numbers.
        </div>
      </div>
      <div class="service_item -horizontal">
        <i class="service_item--icon fa-solid fa-message"></i>
        <h3 class="service_item--title">3. Keeping in Touch</h3>
        <div class="service_item--text">We'll use a combination of email and video calls to keep in touch. Videos calls
          are perfect, as we can meet
          face-to-face without ever leaving the house (although the downside is that you have to provide your own
          biscuits!) There are no silly questions, so
          if you're not sure how to do something or want to double-check what you're planning on doing, just get in
          touch.
        </div>
      </div>
    </div>
  </div>
</div>

