---
layout: base-page.njk
title: The Growth Event
permalink: /the-growth-event/
eleventyNavigation:
key: The Growth Event
order: -1
---

<div class="our_company">
  <div class="row">
    <div class="col-md-9 col-md-offset-0 col-xs-10 col-xs-offset-1">
      <div class="our_company--text">
        <img id="headshot" src="/assets/images/headshots/emma.jpg" alt="Emma" style="width: 350px; float: left; margin-right: 20px">
        <p>Well hello there. You're here because you want to scale your business and achieve your goals. We get it, and
          we've helped lots of people just like you.</p>
        <p>Take Laura, for example. Laura had a side hustle alongside her 9-5 job and it was trundling along quite
          nicely but was nothing more than a fun side gig. Then the pandemic came along and she moved this side hustle
          online and demand exploded. It went from £10k a year to £80k. We worked closely with her to quickly put in
          place systems and processes, as well targets for the future. It's still a side hustle, so we also stepped in
          to be her accounts department, managing everything from submitting VAT returns to paying her freelance
          team.</p>
        <p>Or Saira, who was holding herself back by keeping her sales under £85k a year as she was scared of the VAT
          threshold, even though she knew that her goal needed her to have a 6 figure business. We mapped out exactly
          what she needed to do to reach her goals, as well as making a plan for registering for VAT. Together we set
          targets for her sales, making sure she had a diverse range of income streams as this would fit her goals best.
          Within the first year of working with us, she became a 6 figure business.</p>
        <p>We're a small bookkeeping and accountancy practice, working with ambitious business owners. As well as all
          the usual stuff you'd expect from an accountant, such as tax returns and payroll, we also work closely with
          our clients to help them work towards their financial goals.</p>
        <p>Want to see how we can help your business serve your needs? Exclusively for Growth Event attendees we're
          offering <b>50% off our power hours until the end of January</b>. Every session is different, as it's
          completely
          driven by you and your needs. Here are some examples of how other people have used them:</p>
        <ul>
          <li>discussing the VAT implications of launching a new digital course of membership</li>
          <li>looking at whether they should operate as a sole trader or limited company</li>
          <li>getting us to review their Xero account and do a general health check of their finances</li>
          <li>working out whether they can afford to bring in a new member of staff and when the best time to do so will
            be
          </li>
        </ul>
        <p>
          <a href="/services/power-hour/">Book your power hour today</a>, using the discount code <b>GROWTH</b>. Calls
          can take place later in the year, but must be booked by 31st January.</p>
        <p>If you want to dive right in and see how we can work together longer term, <a
            href="/book-a-call/introductory-call/">book a call</a> to let us know what you want to achieve and we'll let
          you know how we can help. The call is completely free, and as a Growth Event attendee you'll get <b>10% off
            fees for the duration of your first contract</b> with us.
        </p>

        <div class="services">
          <div class="row">
            <h3 style="padding-left: 15px">Are you ready to grow your business? Choose your own adventure.</h3>
            <div class="col-md-6 col-sm-6 col-sm-offset-0 col-xs-11 col-xs-offset-1">
              <div class="service_item -horizontal">
                <i class="service_item--icon fa-solid fa-clock"></i>
                <h3 class="service_item--title"><a href="/services/power-hour/">Power Hour</a>
                </h3>
                <div class="service_item--text">
                  50% off power hours - use code <b>GROWTH</b>
                  <p style="margin: 1em 0 0 0;">
                    <a href="/services/power-hour/" class="button -bordered -menu_size">
                      <span class="button--inner">Find out more</span>
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-sm-offset-0 col-xs-11 col-xs-offset-1">
              <div class="service_item -horizontal">
                <i class="service_item--icon fa-solid fa-phone"></i>
                <h3 class="service_item--title"><a href="/book-a-call/introductory-call/">Let's work together</a>
                </h3>
                <div class="service_item--text">
                  10% off your first contract - mention The Growth Event
                  <p style="margin: 1em 0 0 0;">
                    <a href="/book-a-call/introductory-call/" class="button -bordered -menu_size">
                      <span class="button--inner">Book a call</span>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-0 col-xs-10 col-xs-offset-1">
      <div class="our_company--quote">
        <div class="row">
          <figure class="our_company--quote_media" style="padding-bottom: 2em">
            <img
              src="https://cdn.sanity.io/images/g94bd5vf/production/b1f81734a52376552a01728814c95c8388ae0fa9-241x241.jpg?auto=format"
              alt="Headshot of Penni Pickering, Director, Kabo Creative">
          </figure>
          <blockquote class="our_company--quote_text">
            <p>Emma makes running our accounts a breeze! As a two-director limited company, managing clients, the
              business, and our accounts was a handful. Enter Emma, who's explained everything clearly, set us up on
              Xero and provides professional and easy to understand advice every month on our monthly scheduled
              call.</p>
            <p>We loved Emma's pricing options, allowing us to pick core services whilst our business is still new. As
              our business grows we can bring Emma in for more tasks, reducing our administration.</p>
            <p>We couldn't cope without Emma now, she's an essential extension of our company.</p>
          </blockquote>
          <div class="our_company--quote_author">
            <strong>Penni Pickering</strong>
            <span>Director, Kabo Creative</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
