---
layout: base-page.njk
title: Why outsource?
description: Most business owners hate bookkeeping and paperwork, you didn't go into business to spend your time forecasting cashflow or recording expenses. Discover why you should outsource your bookkeeping.
permalink: /why-outsource/
eleventyNavigation:
  key: Why outsource?
  order: -1
---

<div class="our_company">
  <div class="row">
    <div class="col-md-12">
      <div class="our_company--text">
        <p>Most business owners hate bookkeeping and paperwork, you didn’t go into business to spend your time forecasting cashflow or recording expenses. Unfortunately there’s just no getting away from it, and more importantly there’s no getting away from it being accurate and in a prescribed format. Not only will this mean that you’re less likely to find yourself on the wrong side of HMRC, up-to-date and accurate bookkeeping provides critical financial information that aids your decision making.</p>
        <p>And because you hate bookkeeping - you’d much rather be out there as far away from the numbers as possible - it falls down the priority list and often ends up being done on evenings and weekends. If you’re anything like me, you’d much rather spend this time with friends and loved ones, rather than on doing something that you dislike (the exception here is household chores, I never seem to be able to escape those!)</p>
        <p>Reclaiming your evenings and weekends is just one of many benefits of outsourcing your bookkeeping, let’s look at a few others:</p>
      </div>
    </div>
  </div>
</div>

<div class="services_page">
  <div class="services">
    <div class="row">

      <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
        <div class="service_item -horizontal">
          <h3 class="service_item--title">Access to expertise</h3>
          <div class="service_item--text">
            <p>
              Accurate bookkeeping is essential for your business, but it can be incredibly complex. That's why there are bookkeeping exams, and why professional bodies such as the International Association of Bookkeepers require their members to undertake ongoing professional development to keep their knowledge current.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
        <div class="service_item -horizontal">
          <h3 class="service_item--title">Flexibility of support</h3>
          <div class="service_item--text">
            <p>
              Want someone to manage your bookkeeping but don't have enough work for a full-time role? No problem! Outsourcing means that you can access the expertise you need, when you need it. Hiring a professional bookkeeper for a few hours a month will be invaluable and will make a big difference to your business.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
        <div class="service_item -horizontal">
          <h3 class="service_item--title">Cost</h3>
          <div class="service_item--text">
            <p>
              What is the cost to your business of you doing your own bookkeeping? Not just in terms of time not spent on client work, but also in paying extra tax because you didn't know that certain costs were deductible? Or even in HMRC fines because you missed a deadline? Outsourcing is often more cost-effective in the long-run.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
